.cursor-pointer{

}


#servicesCarousel .carousel-control-next{
    left: 74vw;
    /* bottom: 3px; */
    top: 3vh;
}

#servicesCarousel .carousel-control-next span{
    background-color: black;
        border-radius: 50%;
}


#servicesCarousel .carousel-control-prev{
    position: absolute;
    left: -8vw;
    top: 3vh;

}

#servicesCarousel .carousel-control-prev span{
    background-color: black;
        border-radius: 50%;
}

.h-40vh{
    height: 40vh;
}